# IntelliJ/Android Studio
.idea/
*.iml
*.iws
*.ipr
out/

# Flutter/Dart/Pub (applies to all subdirectories)
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata
**/.packages
**/.pub-cache/
**/.pub/
**/build/
**/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android specific artifacts
**/android/app/debug
**/android/app/profile
**/android/app/release

# Miscellaneous/OS
.DS_Store
Thumbs.db
*.log
*.class
*.pyc
*.swp
.history

# Symbolication/Obfuscation
app.*.symbols
app.*.map.json
